<template lang="pug">
    v-list(width="100%")
        template(v-if="!collection.loading")
            template(v-for="(item, i) in collection")
                user-list-item(:item="item" :key="i")
                v-divider(:key="`divider-${i}`")
            template(v-if="!collection.length")
                v-alert()
                    | Content NotFound
        template(v-else)
            v-skeleton-loader(v-for="idx in 3" type="list-item-avatar-two-line" :key="idx")
</template>

<script lang="ts">
  /**
   * @author Dmitro Zataidukh
   * @email zidadindimon@gmail.com
   * @createdAt 4/25/20
   */
  import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
  import { UserCollection } from '@/mc/collection/UserCollection';
  import UserListItem from '@/components/UserList/UserListItem.vue';

  @Component({
    components: { UserListItem }
  })
  export default class UserList extends Vue {
    @Prop({ default: 1 }) page: number;
    @Prop({ default: '' }) search: string;
    @Prop({ default: 0 }) total: number;
    collection: UserCollection = new UserCollection();

    get filters() {
      return {
        page: this.page - 1,
        search: this.search,
      };
    }

    @Watch('filters', { immediate: true })
    async fetch() {
      await this.collection.fetch(this.filters);
      this.$emit('update:total', this.collection.pages)
    }

  };
</script>

<style lang="scss" scoped>
</style>
