<template lang="pug">
    v-list-item(two-line)
        v-list-item-avatar
            v-img(:src="item.avatar")
        v-list-item-content
            v-list-item-title {{item.username}}
            v-list-item-subtitle {{item.email}}
        v-list-item-action
            v-btn(icon :to="viewLink")
                v-icon mdi-eye
        v-list-item-action
            v-btn(icon disabled)
                v-icon mdi-delete
</template>

<script lang="ts">

  /**
   * @author Dmitro Zataidukh
   * @email zidadindimon@gmail.com
   * @createdAt 4/25/20
   */
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import { User } from '@/mc/model/User';
  import { RawLocation } from 'vue-router';
  import { NRoute } from '@/router/NRoute';

  @Component({})
  export default class UserListItem extends Vue {
    @Prop({ required: true }) item: User;

    get viewLink(): RawLocation {
      return {
        name: NRoute.USER,
        params: {
          id: this.item.id.toString(),
        },
      };
    }
  };
</script>

<style lang="scss" scoped>
</style>
