<template lang="pug">

</template>

<script lang="ts">
  /**
   * @author Dmitro Zataidukh
   * @email zidadindimon@gmail.com
   * @createdAt 4/27/20
   */
  import { Component, Vue } from 'vue-property-decorator';

  @Component({})
  export default class TaskListView extends Vue {

  };
</script>

<style lang="scss" scoped>
</style>
