<template lang="pug">
    v-card(width="100%")
        v-card-title
            v-text-field(label="Search" clearable v-model="search" append-icon="mdi-magnify")
        v-row.px-6(no-gutters)
            user-list(:search="search" :page="page" :total.sync="length")
            v-pagination(v-model="page" :length="length")
</template>

<script lang="ts">
  /**
   * @author Dmitro Zataidukh
   * @email zidadindimon@gmail.com
   * @createdAt 4/25/20
   */
  import { Component, Vue } from 'vue-property-decorator';
  import UserList from '@/components/UserList/UserList.vue';

  @Component({
    components: { UserList }
  })
  export default class UserListView extends Vue {
        search: string = '';
        page: number = 1;
        length: number = 1

  };
</script>

<style lang="scss" scoped>
</style>
