<template lang="pug">
    v-row()
        v-card.pa-5(:width="340" :loading="model.loading")
            div(:class="$style.editor_panel")
                v-btn(v-if="!editing" @click="editing = true" color="primary" icon)
                    v-icon mdi-pencil
                v-btn(v-else @click="save()" :loading="model.loading" icon)
                    v-icon mdi-content-save
            v-row(justify="center" no-gutters)
                v-avatar(size="300")
                    v-img(:src="model.avatar")
                v-col(cols="12")
                    v-text-field(v-model="model.avatar" label="avatar url" block v-if="editing")
                    v-text-field(v-model="model.username" label="Username" block
                        :readonly="!editing" :error-messages="attrsError.username")
                    v-text-field(v-model="model.email" label="Email" block
                        :readonly="!editing" :error-messages="attrsError.email")
</template>

<script lang="ts">
  /**
   * @author Dmitro Zataidukh
   * @email zidadindimon@gmail.com
   * @createdAt 4/24/20
   */
  import { Component, Mixins, Watch } from 'vue-property-decorator';
  import { ModelMixin } from '@/mixins/ModelMixin';
  import { User } from '@/mc/model/User';
  import { NRoute } from '@/router/NRoute';

  @Component({})
  export default class UserView extends Mixins(ModelMixin(User)) {

    @Watch('$route.name', {immediate: true})
    fetchRoute(){
      this.editing = this.$route.name === NRoute.USER_CREATE
    }

    @Watch('model.id', {immediate: true})
    onCreate(newVal, oldValue) {
      if (oldValue === null && !!newVal) {
        this.$router.replace({
          name: NRoute.USER,
          params: {
            id: this.model.id.toString(),
          },
        });
      }
    }
  };
</script>

<style lang="scss" module scoped>
    .editor_panel {
        position: absolute;
        right: 10px;
        z-index: 2;
    }
</style>
