<template lang="pug">
    v-speed-dial(v-model="fab" bottom right absolute)
        template(v-slot:activator)
            v-btn(color="primary" v-model="fab" dark fab)
                v-icon(v-if="fab") mdi-close
                v-icon(v-else) mdi-plus
        v-btn( fab dark small color="green" :to="createUserLink")
            v-icon() mdi-account
        v-btn( fab dark small color="green")
            v-icon() mdi-format-list-checks
</template>

<script lang="ts">
  /**
   * @author Dmitro Zataidukh
   * @email zidadindimon@gmail.com
   * @createdAt 4/25/20
   */
  import { Component, Vue } from 'vue-property-decorator';
  import { RawLocation } from 'vue-router';
  import { NRoute } from '@/router/NRoute';

  @Component({})
  export default class CreateAction extends Vue {
    fab: boolean = false;

    get createUserLink(): RawLocation{
      return {name: NRoute.USER_CREATE}
    }

  };
</script>

<style lang="scss" scoped>
</style>
