<template lang="pug">
    v-app#inspire
        v-navigation-drawer(app :mini-variant="drawer" mini-variant-width="66")
            template(v-slot:prepend)
                v-list
                    v-list-item(two-line :to="profileLink")
                        v-list-item-avatar
                            img(src="https://randomuser.me/api/portraits/women/81.jpg")
                        v-list-item-content
                            v-list-item-title Jane Smith
                            v-list-item-subtitle Logged In
            v-divider
            v-list
                template(v-for="item in menu")
                    v-list-item.px-2(:to="item.to" :key="item.key")
                        v-list-item-avatar
                            v-icon {{item.icon}}
                        v-list-item-content
                            v-list-item-title {{item.title}}

        v-app-bar(app color="deep-orange" dark)
            v-app-bar-nav-icon(@click="drawer = !drawer")
            v-toolbar-title TODO LIST
        v-content.fill-height
            v-container.px-12
                router-view
            create-action
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import { RawLocation } from 'vue-router';
  import { NRoute } from '@/router/NRoute';
  import CreateAction from '@/components/CreateAction.vue';

  @Component({
    components: { CreateAction },
  })
  export default class App extends Vue {
    drawer: boolean = false;

    get profileLink(): RawLocation {
      return {
        name: NRoute.USER,
        params: {
          id: '1',
        },
      };
    }

    get menu() {
      const makeItem = (title: string, to: NRoute, icon: string) => ({
        title, icon,
        key: to,
        to: { name: to },
      });

      return [
        makeItem('Users', NRoute.USER_LIST, 'mdi-account-group'),
      ];
    }
  }
</script>

<style lang="scss"></style>
